@import '../../assets/scss/_variables.scss';

.app-header {
  background-color: $headerColor;
  padding: 0;
  color: white;

  .ant-row {
    height: 100%;

    .ant-col {
      display: flex;
      align-items: center;
    }

    
      .brand-logo { .element-style{
        display: flex;
        fill: red;
        height: 50px;
        width: 50px;}
      }
      // height: 50px;
      // display: flex;
    

    .app-header-content {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      a{
        color:white;
      }
      .anticon {
        align-self: center;
        margin-left: 15px;
      }
      .amount-with-currency{
        margin-left:5px;

      }
.amount-spinner{
  background-color: $headerColor;
}

      .wallet-amount {
        display: flex;
        
        p {
          margin-bottom: 0;
          font-weight: 700;
        }

        .anticon {
          margin-right: 10px;
        }
        .amount-with-currency {
          cursor: pointer;
          margin-left: 5px;
        }
        .amount-spinner {
          background-color: $headerColor;}
      }
    }
  }
}

.app-footer {
  background-color: $backgroundColor;
  padding: 40px 0;
  color: $footerTextLogo;
}

.app-content {
  background-color: $backgroundColor;

  .app-container {
    margin-top: 32px;
    margin-bottom: 6px;
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    
  }
}
input.invalid{
  border:1px solid red;
  &:focus ,&:hover{
    border:1px solid red;
  }
}
span.erro-message{
  color:red;
}